<h4>Server Component From {{ getComponentName() }}</h4> 
<button 
              class="btn btn-primary" 
              [disabled] = "buttonEnabled"
              (click) = "onButtonClick()"
>Knock Knock</button>

<p [innerText] = "clickStatus"></p>

<hr>

<hr>

<div class="container">
    <div class="row">
        <label>Server Name</label>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-xs-3">
        <input 
                    type="text"
                    class="form-control"
                    (input) = "updateSeverName($event)"
        >
        </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-xs-3">
            <p>{{eventData}}</p>
        </div>
    </div>
</div>
